.reports-page {
    min-height: 100vh;
    background-image: url("../img/reportsbg.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    padding-top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5rem;
}

.reports-page h1 {
    font-size: 3rem;
    color: var(--light-clr);
    text-align: center;
    margin-bottom: 2rem;
}

.reports-card {
    background-color: rgba(0,0,0,0.6);
    padding: 2rem 5rem;
}

.reports-imgs {
    display: flex;
    width: 100%;

    flex-shrink: 1;
    flex-basis: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.reports-card img {
    max-width: 33%;
}

.reports-card h2 {
    color: var(--accent-clr);
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

.reports-card h2:hover {
    color: var(--light-clr);
}

.reports-card a {
    text-decoration: none;
}

.report-author {
    margin-top: 1rem;
    color: var(--accent-clr);
    font-size: 1.15rem;
}

.report-date {
    margin-top: 0.25rem;
    color: var(--light-clr);
    font-size: 1rem;
}

.report-desc {
    margin-top: 1rem;
    color: var(--light-clr);
    margin-bottom: 1rem;
}
    
.report-bg-container {
    background-image: url("../img/reportsbg.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    background-attachment: fixed;
    min-height: 100vh;
  }
  
  .report-bg-container {
    padding: 20vh 10vw 3rem 10vw;
    color: var(--light-clr);
  }
  
  .report-subpage {
    background-color: rgba(0,0,0,0.8);
    padding: 5rem 8vw;
  }
  
  .report-subpage h1 {
    margin-bottom: 1rem;
    color: var(--accent-clr);
  }
  
  .report-subpage .report-date {
    margin-bottom: 2rem;
    font-size: 0.9rem;
  }
  
  .report-subpage .report-authors {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  
  .report-quote {
    color: var(--accent-clr);
    margin: 0 12% 2rem;
    font-size: 1.25rem;
    padding-left: 1rem;
    border-left: 2px var(--accent-clr) solid;
    font-style: italic;
  }
  
  .report-bg-container img {
    width: 70%;
    display: block;
    margin: 2rem auto;
  }
  
  .report-bg-container h3 {
    color: var(--accent-clr);
  }
  
  .figure-sub {
    padding: 0 3rem;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .report-bg-container p {
    margin-bottom: 1rem;
  }