@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --accent-clr: #ecc372;
  --header-clr: rgba(0,0,0,0.6);
  --light-clr: white;
  --dark-clr: black;
}

body {
	margin: 0;
	background: var(--dark-clr);
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
    overflow-x: hidden;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

p {
    margin: 0;
}

header {
  background: var(--header-clr);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.logo {
    height: 10vh;
    width: 10vh;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(--light-clr, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--accent-clr);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--header-clr);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--accent-clr);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--light-clr);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1000px) {
  
  .nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    margin-right: 2em;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::after {
    content: '';
    display: block;
    height: 2px;
    background: var(--light-clr);
    position: absolute;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::after {
    transform: scale(1,1);
  }
}

.home-sec-one{
    width: 100vw;
    height: 70vh;
    background-image: url("../img/homebg.jpeg");
    background-size: cover;
    background-position: top;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
    background-attachment: fixed;
    position: relative;
}


.home-titles {
    position: absolute;
    width: 100%;
    margin-top: 20vh;
}
.home-title-one {
    background-color: #ecc372b4;
    width: 50%;
    text-align: right;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 5vw;
    animation: bg-one-anim 500ms ease-out both;
    animation-delay: 500ms;
}

.home-title-one h1{
    animation: mcc-label-anim 500ms ease-out both;
    animation-delay: 1000ms;
}

.home-title-two h2{
    animation: uoft-label-anim 500ms ease-out both;
    animation-delay: 1250ms;
}

.home-title-two {
    background-color: rgba(0, 0, 0, 0.54);
    width: fit-content;
    padding: 1rem;
    animation: bg-two-anim 250ms ease-out both;
    animation-delay: 1000ms;
    font-size: 3.5vw;
}

@keyframes bg-one-anim {
    from {transform: translateX(-100%)}
    to {transform: translateX(0%)} 
  }
  
  @keyframes mcc-label-anim {
    from {color: rgba(0,0,0,0);
      text-shadow: none;}
     to {color: var(--light-clr);
      text-shadow: 5px 2px #9b7f48;
    }
  }

  @keyframes uoft-label-anim {
    from {color: rgba(0,0,0,0);}
     to {color: var(--light-clr);
    }
  }
  
  @keyframes bg-two-anim {
    from {
        transform: scaleY(0) translateX(30vw);
        transform-origin: top;
    }
    to {
        transform: scaleY(1) translateX(30vw);
        transform-origin: top;
    }
  }

  .home-sec-one-gradient{
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0), var(--dark-clr));
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .mission-statement {
    background-color: var(--dark-clr);
    color: var(--light-clr);
    margin: 0 auto;
    padding: 5em 10vw;
    text-align: center;
    font-size: 1.2rem;
    z-index: 100;
  }

  .mission-statement p::before {
    content: '';
    width: 70%;
    height: 2px;
    background-color: var(--accent-clr);
    display: block;
    top: -1em;
    position: relative;
    margin: 0 auto;
  }

  .mission-statement p::after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--accent-clr);
    display: block;
    bottom: -1em;
    position: relative;
    margin: 0 auto;
  }

  .home-sec-three-gradient {
    height: 20vh;
    background: linear-gradient(to top, rgba(0,0,0,0), var(--dark-clr));
    width: 100%;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 0;
    font-size: 2rem;
  }
  .home-sec-three-gradient-two {
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0), var(--dark-clr));
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .home-sec-three {
    background-image: url("../img/homebg2.jpg");
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
    position: relative;
  }

  .home-sec-three-gradient h3 {
    color: var(--light-clr);
    margin: 0;
    font-size: 2.5rem;
  }

  .initiative-card {
    color: var(--light-clr);
    width: 80vw;
    height: 30rem;
    border-radius: 2rem;
    overflow: hidden;
    font-size: 0.725em;
    transition: transform 500ms ease;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
  
  .initiative-card:hover .initiative-card:focus-within {
    transform: scale(1.05);
  }
  
  .card-content {
    padding: 80% 1.5em 1.5em 1.5em;
    background: linear-gradient(
      hsl(0 0% 0% / 0),
      hsl(20 0% 0% / 0.3) 20%,
      hsl(0 0% 0% / 1)
    );
    height: 100%;
  }
  
  @media (hover){
    .card-content{
      transform: translateY(20%);
      transition: transform 500ms ease;
    }
  
    .initiative-card:hover .card-content, 
    .initiative-card:focus-within .card-content{
      transform: translateY(0);
      transition-delay: 500ms;
    }
  
    .initiative-card:focus-within .card-content {
      transition-duration: 0ms;
    }
  
    .card-content > *:not(.card-title) {
      opacity: 0;
      transition: opacity 500ms linear;
    }
  
    .initiative-card:hover .card-content > *:not(.card-title),
    .initiative-card:focus-within .card-content > *:not(.card-title) {
      opacity: 1;
      transition-delay: 850ms;
    }
  
    .card-title::after {
      transform: scaleX(0);
    }
  
    .card-title::after {
      content: "";
      position: absolute;
      height: 4px;
      width: calc(100% + 1.5rem);
      background: var(--accent-clr);
      left: -1.5rem;
      bottom: -5px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 500ms ease;
    }
  

  
  .initiative-card:hover .card-title::after,
  .initiative-card:focus-within .card-title::after {
    transform: scaleX(1);
  }

  .initiative-card .card-button:hover, .initiative-card .card-button:focus {
    background-color: var(--light-clr);
  }
  }
  
  @media (prefers-reduced-motion:reduce){
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.1ms !important;
      scroll-behavior: auto !important;
      transition-delay: 0ms !important;
    }
  
  
  }
  
  .card-title{
    font-size: 1.75rem;
    position: relative;
    width: max-content;
    max-width: 100%;
  }
  
  .card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 1.5rem);
    background: var(--accent-clr);
    left: -1.5rem;
    bottom: -5px;
  }
  
  .card-body {
    padding: 1.5rem 0 1.5rem 0;
  }
  
  .initiative-card .card-button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--dark-clr);
    background-color: var(--accent-clr);
    padding: .5em 1.25em;
    border-radius: .25em;
  }
  
  .initiative-card .card-button:focus {
    background-color: var(--light-clr);
  }

  .initiative-cards-container {
    display: flex;
    flex-shrink: 1;
    flex-basis: 100%;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width:600px) {
    .initiative-cards-container{
        flex-direction: row;
        row-gap: 2rem;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 5rem;
    }

    .initiative-card {
        width: 25vw;
        height: 35rem;
        border-radius: 1rem;
    }

    .card-content, .card-button{
        font-size: 1rem;
    }

  }

  .home-sec-four {
    color: var(--light-clr);
    text-align: center;
    position: relative;
  }

  .keep-in-touch {
    width: 100%;
    position: relative;
    padding-top: 3em;
    min-height: 60vh;
    background-image: url("../img/homebg3.jpg");
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .keep-in-touch-box {
    z-index: 2;
    width: 70vw;
    min-height: 10rem;
    position: relative;
    margin: 0 auto;
  }

  .keep-in-touch-box p {
    padding-top: 2.5rem;
    font-size: 1.35rem;
  }

  .home-sec-four button {
    margin: 1rem auto;
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-clr);
    background-color: var(--accent-clr);
    border: none;
    padding: .5em 1.25em;
    border-radius: .5em;
    font-family: inherit;
    font-size: 1.1rem;
  }

  .home-sec-four button:hover, .home-sec-four button:focus {
    background-color: var(--light-clr);
  }

  .home-sec-four h3 {
    font-size: 3rem;
    margin-top: 0;
    padding-top: 2rem;
  }

  .home-sec-four-gradient {
    height: 20vh;
    background: linear-gradient(to top, rgba(0,0,0,0), var(--dark-clr));
    position: absolute;
    width: 100%;
    bottom: calc(100%-20vh);
    z-index: 1;
  }

  .home-sec-four-gradient-two {
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0), var(--dark-clr));
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
  }

  footer ul {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 1rem;
  }

  footer a {
    text-decoration: none;
    color: var(--light-clr);
    font-size: 1rem;
  }

  footer a:hover{
    color: var(--accent-clr);
  }

  footer p {
    text-align: center;
    color: var(--light-clr);
    font-size: x-small;
  }


  button {
    background-color: var(--accent-clr);
    border: none;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    font-family: inherit;
  }


  button:hover {
    background-color: var(--light-clr);
    color: var(--dark-clr);
    cursor: pointer;
  }

  .keep-in-touch-box-one {
    left: 10vw; 
    background-color: #ecc372c6;
  }

  .keep-in-touch-box-two {
    top: -1rem; 
    right: 10vw; 
    background-color: rgba(0, 0, 0, 0.668);
  }

  .keep-in-touch-box-three {
    top: -2rem; 
    background-color: rgba(255, 255, 255, 0.69); 
    color: black;
  }

  @media(orientation: landscape){
    .home-sec-one {
      min-height: 100vh;
    }

    h1 {
      font-size: 6vw;
    }

    .home-title-one {
      width: 40%;
    }

    h2 {
      font-size: 3vw;
    }

    .keep-in-touch-box {
      width: 30vw;
    }
  }

